<div class="left-sidebar">
    a
</div><div class="main-page">
    adasd
    asdasdasd Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, totam quisquam architecto quam reiciendis unde perferendis ab voluptatem sit possimus dolore quidem distinctio optio deserunt id atque quod neque incidunt ea labore soluta! Impedit earum enim magni laboriosam fugiat eligendi debitis hic est aperiam, suscipit, cum doloremque quisquam alias eius excepturi minus sapiente iste molestiae architecto deserunt distinctio quibusdam repellat error. Praesentium nostrum, illo expedita odit consequuntur, eaque labore delectus libero facilis quam eveniet mollitia velit incidunt odio accusamus qui iure quibusdam deleniti hic vel! Nam labore fuga velit, quos possimus doloribus reprehenderit totam iure, nulla ex, repudiandae ut assumenda?
</div><div class="right-sdebar">
    c
</div>
