<div class="left-sidebar">
    <h1 class="text-4xl text-center mt-8 font-bold tracking-wide text-white" style="width: 220px;">
        Plantr
    </h1>
    <ul class="mt-20">
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full sidebar-active">
            <img src="./icons/plant.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                My Plants
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/alerts.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Alerts
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/plots.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Add Plots
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/settings.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Settings
            </span>    
        </li>
    </ul>
</div><div class="main-page">
    <div class="container">

    </div>
</div><div class="right-sdebar">
    c
</div>
