<div class="left-sidebar">
    <h1 class="text-4xl text-center mt-8 font-bold tracking-wide text-white" style="width: 220px;">
        Plantr
    </h1>
    <ul class="mt-20">
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full sidebar-active">
            <img src="./icons/plant.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                My Plants
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/alerts.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Alerts
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/plots.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Add Plots
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/settings.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Settings
            </span>    
        </li>
    </ul>
</div><div class="main-page">
    <div class="better-container">
        <h1 class="text-4xl font-bold mt-16 tracking-wide">
            My Plants
        </h1>
        <div class="plant-grid mt-2">
            <div v-for="n in 8" class="inline-block">
                <!-- <span style="position: relative; margin-left: 12px; margin-top: 5px; "><small>{{n}}</small></span> -->
                <div class="plot-background inline-block rounded-lg" v-if="! (n in plots)">
                </div>
                <div class="plot-background inline-block rounded-lg valid-plot" 
                @click="newActivePlot(n)" v-else>
                    <img src="./icons/plant_filled.svg" class="plant-icon-main" style="width: 60px; margin: 20px;" v-if="activePlot == n">
                    <img src="./icons/plant_filled.svg" class="plant-icon-main hover-img-icon" style="width: 60px; margin: 20px;" v-if="activePlot != n">
                </div>
            </div>
        </div>
        <h1 class="text-4xl font-bold mt-16 tracking-wide">
            Progress
        </h1>
        <div class="progress-list" style="max-width: 750px;">
            <div v-for="(plot, index) in plots" :key="index" 
            @click="newActivePlot(index)"
            :class="(index == activePlot) ? 'mt-4 valid-plot' : 'mt-4'" 
            style="border-radius: 20px; border: 5px solid #F4F9F3;">
                <div class="p-3">
                    <img src="./img/tomato_img.png" class="w-16 inline-block align-top">
                    <div class="inline-block ml-2 p-2 align-top">
                        <h2 class="text-xl inline-block m-0">
                            Plot {{index}} 
                        </h2>
                        <h2 class="inline-block ml-4 text-lg">
                            {{plot.type}}
                        </h2>
                    </div>
                    <div class="inline-block align-bottom text-lg font-bold mt-10 mr-2" style="float: right;">
                        Age: 5 days
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="right-sidebar">
    <div class="mt-16">
        <div style="background-color: #F4F9F3; padding-bottom: 1px;" class="rrrr">
            <h1 class="text-3xl font-bold tracking-wide ml-12 p-4">
                Fenwick Tree
            </h1>
            <ul>
                <li class="flex items-center mb-2 p-1 ml-64 rounded-l-full sidebar-active">
                    <span class="text-xl text-white ml-6">
                        Plant Details    
                </li>
                <li class="flex items-center mb-2 p-1 ml-64 rounded-l-full">
                    <span class="text-xl ml-6">
                        Growing Guide
                    </span>    
                </li>
                <!-- <li class="flex items-center mb-2 p-1 ml-64 rounded-l-full">
                    <span class="text-xl ml-6">
                        Plant Settings
                    </span>    
                </li> -->
            </ul>
        </div>
        
    </div>
</div>

