
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1500px">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <title>Sustainble Gardens</title>
</head>

<body>
    <div id="app" v-cloak>

        <!-- Sidebar -->



    <div class="page-wrapper">
        <div class="left-sidebar">
    <h1 class="text-4xl text-center mt-8 font-bold tracking-wide text-white" style="width: 220px;">
        Plantr
    </h1>
    <ul class="mt-20">
        <a href="/">
            <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
                <img src="./icons/plant.svg" class="inline-block ml-6 w-6">
                <span class="text-xl text-white ml-6">
                    My Plants
                </span>    
            </li>
        </a>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/alerts.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Alerts
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full sidebar-active">
            <img src="./icons/wiki.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Guides
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/plots.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Live Plots
            </span>    
        </li>
        <li class="flex items-center mb-6 p-3 ml-3 rounded-l-full">
            <img src="./icons/settings.svg" class="inline-block ml-6 w-6">
            <span class="text-xl text-white ml-6">
                Settings
            </span>    
        </li>
    </ul>
</div><div class="main-page" style="width: calc(100vw - 300px);">
        
        <div class="wiki-container" style="width: 70%; margin: auto;">
            <h1 class="text-4xl font-bold mt-16 tracking-wide">
                Guides
            </h1>

            <div class="mt-8">
                <div v-for="(item, index) in wikiData" :key="index">
                    <!-- {{item}} -->


                <div style="border-radius: 20px; width: 100%; background-color: #F4F9F3; border: 5px solid #F4F9F3;"
                    class="my-4 p-2 px-4 actionItems"
                    @click="openWikiItem(index)"
                    >


                        <img :src="item.img" class="w-20 h-20 rounded-full inline-block">


                        
                        <h2 class="text-2xl inline-block ml-10">
                            <strong>{{index.split(" ").map(e => e[0].toUpperCase() + e.slice(1)).join(" ")  }}


                            </strong>
                        </h2>

                        <div v-if="index in wikiMap">
                            <br />
                            <div class="w-1/2 p-6 inline-block align-top" v-if="item.Planting != undefined" >
                                <h2 class="text-lg">
                                    <strong>Planting Instructions</strong>
                                </h2>
                                <ul class="list-disc">
                                    <li v-for="(text, index) in item.Planting.split('\n').filter(x => x.length > 10)" :key="index">
                                    {{text}}
                                </li>
                                </ul>
                            </div><div class="w-1/2 p-6 inline-block" v-if="item.Care != undefined" >
                                <h2 class="text-lg">
                                    <strong>Plant Care Tips</strong>
                                </h2>
                                <ul class="list-disc">
                                    <li v-for="(text, index) in item.Care.split('\n').filter(x => x.length > 10)" :key="index">
                                    {{text}}
                                </li>
                                </ul>
        
                            </div>
                            <br />
                            <a :href="item.src">More Info: {{item.src}}</a>
    

                        </div>
                        <div v-else>
                            <span style="display: none;">
                                {{wat}}
                            </span>
                        </div>

                    </h2>
                    </div>
    

                </div>
            </div>

        </div>

    </div>
</div>


    <br />
    <br />



    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="./wiki.js"></script>
    <script src="./frontend.js"></script>

    <script type="text/javascript" src="http://livejs.com/live.js"></script>
</body>
</html>